In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "plotly_mimetype+notebook_connected"

In [2]:
import duckdb

In [3]:
%load_ext sql

In [4]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [6]:
%sql duckdb:///:memory:

In [7]:
%%sql
CREATE TABLE weather (
    city           VARCHAR,
    temp_lo        INTEGER, -- minimum temperature on a day
    temp_hi        INTEGER, -- maximum temperature on a day
    prcp           REAL,
    date           DATE
);

Empty DataFrame
Columns: []
Index: []

In [9]:
%%sql
INSERT INTO weather VALUES ('San Francisco', 46, 50, 0.25, '1994-11-27');

   Count
0      1

In [11]:
%%sql
SELECT *
FROM weather

            city  temp_lo  temp_hi  prcp        date
0  San Francisco       46       50  0.25  1994-11-27

In [2]:
uniswap_events = pd.read_pickle('data/kaggle/uniswap_events.pickle')

In [3]:
type(uniswap_events)

pandas.core.frame.DataFrame

In [4]:
import duckdb

In [5]:
duckdb.query("SELECT * FROM uniswap_events LIMIT 10")

┌──────────────────────┬───────────────────┬──────────────────────┬───┬──────────────────────┬──────────────────────┐
│   transactionHash    │ transaction_index │  transaction_sender  │ … │      UNI_supply      │      invariant       │
│       varchar        │       int64       │       varchar        │   │        double        │        double        │
├──────────────────────┼───────────────────┼──────────────────────┼───┼──────────────────────┼──────────────────────┤
│ 0xbd773ccc33c83137…  │               150 │ 0xf369af914dbed0ad…  │ … │                  0.0 │             1.77e+41 │
│ 0xbd773ccc33c83137…  │               150 │ 0xf369af914dbed0ad…  │ … │                3e+19 │             1.77e+41 │
│ 0xd53f01fc0cabbf40…  │                97 │ 0xf369af914dbed0ad…  │ … │                3e+19 │  1.770004496201091e… │
│ 0x53172898dbe437c7…  │                53 │ 0xf369af914dbed0ad…  │ … │                3e+19 │  1.7700062940744217… │
│ 0x6cef57fd37d7a260…  │                24 │ 0x11e4857bb9993a50…  │ … │                3e+19 │  1.7700080655849936… │
│ 0x13d958222cbec3f6…  │               281 │ 0x11e4857bb9993a50…  │ … │                3e+19 │  1.7700098365065292… │
│ 0x51f662378a5e158b…  │               121 │ 0x4defa30195094963…  │ … │                3e+19 │  1.7700116068394213… │
│ 0x31f62df00bd7be03…  │                51 │ 0x4defa30195094963…  │ … │                3e+19 │  1.771151577853911e… │
│ 0x31f62df00bd7be03…  │                51 │ 0x4defa30195094963…  │ … │  3.000965915297152e… │  1.771151577853911e… │
│ 0x865a3da7b390858c…  │                 7 │ 0x11e4857bb9993a50…  │ … │  3.000965915297152e… │  1.7711572974163237… │
├──────────────────────┴───────────────────┴──────────────────────┴───┴──────────────────────┴──────────────────────┤
│ 10 rows                                                                                      20 columns (5 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘